<div id="<%= dom_id bill %>" class="border border-black  m-3">
  <p class="m-3">
    <strong>Name:</strong>
    <%= bill.name %>
  </p>

  <p class="m-3">
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

</div>
